<!DOCTYPE html>
  <html lang="en"><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"
  >
  <meta name="description" content="[ALPHA] Node Starter App">
  <link rel="shortcut icon" href="<%= htmlWebpackPlugin.options.host %>favicon.png" type="image/x-icon" sizes="32x32">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
  <link href="https://fonts.googleapis.com/css?family=Lato:700|Noto+Sans:400,700&amp;display=fallback" rel="stylesheet">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.host %>styles.css">
  <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div class="container">
      <header>
        <!-- banner -->
        <div class="phase-banner">
          <div><span>ALPHA</span>
            <span>This site will change as we test ideas.</span>
          </div>
        </div>
        <!-- end banner -->
        <!-- start container -->
        <div class="page--container">
          <div class="fip-container">
            <div class="canada-flag">
              <img src="<%= htmlWebpackPlugin.options.host %>img/sig-blk-en.svg" alt="Government of Canada">
            </div>
          </div>
        </div>
        <!-- end container -->
      </header>
      <main>
        <div id="main-js">main js</div>
      </main>
            
      <footer>
        <div class="page--container">
          <div class="canada-wordmark">
            <img src="<%= htmlWebpackPlugin.options.host %>img/wmms-blk.svg" alt="Symbol of the Government of Canada">
          </div>
        </div>
      </footer>
  </div>
</body>
</html>