{% extends "base.njk" %}
{% from 'banner.njk' import banner as banner %}

{% block content %}

    <h1>{{ __('personal.title') }}</h1>

    {{ banner('blue', '<p>' + __('This is for demo purposes you don\'t need to fill this out') + '</p>') }}


    <div>
        <p>{{ __('personal.intro') }}</p>
    </div>
    <form method="post">
        {{ textInput('form.fullname', null, 'form.fullname.desc', { class: "w-3-4", name: "fullname", id: "fullname", autofocus: '', value: data.fullname }) }}
        {{ formButtons() }}
    </form>

{% endblock %}