{% extends "base.njk" %}

{% block content %}

    <h1>You finished!</h1>

   <p>Your confirmation number: AB34550GC
Please write this number down in a safe place, so you can use it if you need to ask us anything in the future. </p>

<p>Watch your mailbox - we may need more information from you. If we do, we’ll send you a letter and you’ll have 30 days to give us the information. If the information does not arrive in time, we’ll have to close your file. </p>

<p>In 2018, about 55% of the applications we received needed some kind of follow-up after the initial submission.</p>

<p>If you don’t hear back from us within 90 days, please call us at 1-888-329-2726 or email us at fictional.benefit@department.gc.ca. </p>

<p>2018 average response time: 2 months 
from receiving an application to making a decision or asking for more information. </p>

<p>In 2018, we ultimately approved 65% of the applications we received.  </p>






    <div>
        <p>
            {{ __('confirmation.intro') }}
            <strong>{{ data.email }}</strong>
        </p>
    </div>

{% endblock %}