{% extends "base.njk" %}

{% block content %}

    <h1>You finished!</h1>

   
<p>
	We&rsquo;ve sent you an email with your
	<strong>
		confirmation number: AB34550GC.
	</strong>
	&nbsp;
</p>
<h2>
	Watch your mailbox&nbsp;
</h2>
<p>
	<strong>
		We may need more information
	</strong>
	 from you. If we do, we&rsquo;ll send you an email and you&rsquo;ll have
	<strong>
		30 days
	</strong>
	 to give us the information. If the information does not arrive in time, we&rsquo;ll have to close your file.&nbsp;
</p>
<p>
	<strong>
		If you don&rsquo;t hear back from us within 90 days,
	</strong>
	please call us at 1-888-329-2726 or email us at fictional.benefit@department.gc.ca.&nbsp;
</p>
<h2>
	Average processing times
</h2>
<p>
	2018 average time to
	<strong>
		final decision: 4 months
	</strong>
</p>
<p>
	2018 average time to
	<strong>
		first contact: 2 months
	</strong>
</p>
<h2>
	Approval rates
</h2>
<p>
	In 2018, we ultimately
	<strong>
		approved 65%
	</strong>
	 of the applications we received. Most common reasons for declining applications were:
</p>
<ul>
	<li>
		Did not meet eligibility criteria
	</li>
	<li>
		Primary doctor did not support application
	</li>
	<li>
		File was closed after no response to request for information.
	</li>
</ul>



{% endblock %}