{% extends "base.njk" %}
{% from 'banner.njk' import banner as banner %}

{% block content %}
    

    <h1>Welcome to your benefit application</h1>

    {{ banner('blue', '<p>' + __('start.intro.banner') + '</p>') }}
<p>
	It usually takes
	<strong>
		about 15 minutes to complete
	</strong>
	 this information online.&nbsp;
</p>
<p>
	If you have any questions, call us at
	<strong>
		1-888-329-2726.
	</strong>
	Average wait time right now: 20 minutes.
</p>
<h2>
	<strong>
		Before you start
	</strong>
</h2>
<p>
	Make sure you have the following details:
</p>
<ul>
	<li>
		Your SIN number
	</li>
	<li>
		Your doctor&rsquo;s name and contact details
	</li>
	<li>
		Information about your diagnosis and treatment
	</li>
	<li>
		Current medications and dosages.
	</li>
</ul>
<h2>
	<strong>
		Once you&rsquo;re finished
	</strong>
</h2>
<p>
	<strong>
		We may need more information
	</strong>
	 from you. In 2018, about 55% of the applications we received needed some kind of follow-up after the initial submission. Most common missing information included:
</p>
<ul>
	<li>
		Documentation from primary doctors
	</li>
	<li>
		Not enough details about treatment and prognosis.
	</li>
</ul>

<div>
        <a class="button-link" href="{{ nextRoute }}" role="button" draggable="false">
            {{ __('start.submit') }}
            <span aria-hidden="true">→</span>
        </a>
    </div>





{% endblock %}

{% block scripts %}
    <script type="text/javascript" src={{jsPath}}></script>
{% endblock %}